.countries-container{
  width: 200px;
  height: 40px;
}

.select-country{
  width: 100%;
  padding: 11px;
  background-color:rgb(237, 233, 233);
  border-radius: 10px;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
}

.country-list-container{
  top: 45px;
  right:0;
  background-color: rgb(223, 207, 183);
  position: absolute;
  z-index: 10;
  min-width: 300px;
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 10px;
  transform: scale(0);
  transition: transform 0.5s ease;
  transform-origin: top center;
}

.scale{
  transform: scale(1);
}

.country-list-item{
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.country-list-item:hover{
  outline: 1px double black;
  background-color: #eeeaea;
  color: rgb(95, 33, 33);
  transform: scale(1.2);
}