.news-slider-container{
  display:flex;
  width: 90%;
  margin: auto;
  overflow: hidden;
  min-width: 90%;
}

.news-slider-card-container{
  min-width: 100%;
   height: 700px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-decoration: none;
   transition: transform 2s ease;
}

.news-slider-card-image{
  width: 80%;
  height: 600px;
}

.news-slider-card-title{
  text-align: center;
  color: black;
}

.slider-icon-container{
  position:absolute;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
}

.slider-icon{
  display: flex;
  width: 4rem;
  opacity: 0.2;
  color: black;
  cursor: pointer;
}