.processing-circle{
  border: 4px solid #6bdfd6;
}

.processing-circle{
  width: 1.7rem;
  height: 1.7rem;
  border-left: 4px solid rgb(5, 77, 76);
  border-radius: 50%;
  animation: processing 0.5s linear infinite;
}

@keyframes processing {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}